{% extends 'base.html' %}
{% import 'macros.html' as macros %}

{% block header %}
<h1>{% block title %}Thesis / Dissertation{% endblock  title %}</h1>
<a class="btn btn-outline-primary" href="{{ url_for('td.create') }}">
  New post
</a>
{% endblock header %}

{% block content %}
<hr>
<p class="lead">
  This page is for theses and dissertations. You can find the official
  page <a href="https://bioinformatics.ucsd.edu/node/38">here</a>. See also
  information from UCSD Graduate Divison on <a href="https://grad.ucsd.edu/academics/preparing-to-graduate/degree-completion.html#Summer-Degree-Completion">degree completion</a> and
  <a href="https://grad.ucsd.edu/academics/preparing-to-graduate/dissertation-thesis-submission.html">dissertation & thesis submission</a>.
  Another important page is the <a href="https://gradforms.ucsd.edu/calendar/index.php">Graduate Division Calendar</a>.
</p>
{% filter markdown %}
---

## [Student-compiled guidelines](https://docs.google.com/document/d/1-O1bEJv_3URn6doPl06N5uRZdXjKJVQgIKy1r9ooI9k/edit)
For guidelines on research rotations, see [Lab](https://ucsd-bisb.info/lab/index).
For guidelines on qualifying and senate exams, see [Exams](https://ucsd-bisb.info/exam/index).

> Can you answer a good question?

- To be scheduled by you, whenever you are ready
- Start meeting with your committee members at least 3-4 months before you want
  to set up your defense. Would recommend individual meetings.
    - Note: It is arguably a good idea to start seeking committee members and
      start meeting informally with them 3-4 _years_ before your defense.
    - Format: slides of your progress, papers, and in the end mentioned your intent
      to defend in XX quarter. Also ask about their rough availability “What’s your
      schedule like for May/June?”
    - Note: Some busy faculty may want you to provide a narrower time frame.
      I find something like "Are you available between May 11-May 22?" has
      generally worked well.
- Once you have met with them and have gotten a verbal ‘OK’, start emailing the
  committee members with Doodle pool:
    - Tips: I made two Doodle polls. First one with just the dates, the second
      one with two time slots for the dates that works (10am-12pm and 2pm-4pm).
      I have also known people that did one giant Doodle poll with date+times,
      Hannah said it was overwhelming though.
    - [Example](https://ucsd-bisb.info/td/161/detail)
- After your date has been set, email the BISB coordinator with you the date
  and times
- Schedule 1 preliminary thesis check appointment with Van Lee Yamamato as soon
  as you have your dates. Those appointment dates/times can go out quickly.
  This is mostly format and she doesn’t care about the content.
- Schedule 1 final thesis check appointment with Van Lee Yamamato for some
  times after your defense.
- Prepare a 1 hour oral presentation 
- Paper works: 
    - Letter for reproduction
        - Signed by you and PI for Dean.
    - Permission to use paper
        - Every single co-author on your papers needs to sign a document that
          gives their approval for you to use the paper in your thesis
    - Your thesis

{% endfilter %}
{{ macros.list_of_posts(posts, current_user, 'td.detail', 'td.update') }}
{% if prev_url %}
<a class="btn btn-outline-primary" href="{{ prev_url }}">Newer posts</a>
{% endif %}
{% if next_url %}
<a class="btn btn-outline-primary" href="{{ next_url }}">Older posts</a>
{% endif %}
{% endblock %}
