{% extends 'base.html' %}
{% import 'macros.html' as macros %}

{% block header %}
<h1>{% block title %}TA{% endblock %}</h1>
<a class="btn btn-outline-primary" href="{{ url_for('ta.create') }}">New post</a>
{% endblock %}

{% block content %}
<hr>
{% filter markdown(autolink=True) %}
Please see the steps below to set up a TAship during the 2019-20 year.

- Students need to apply for TAship using ASES system if required by the hiring department. Not all TAships will be listed in this system.
- Students enroll in BNFO500 under Dr Ideker
    - Students need to register for each TAship, even if they have already met the minimum TA requirement
    - Should not count towards the minimum 12 unit requirement
    - Submit an EASY request for either 2 or 4 units, include class information, instructor information, paid or unpaid, etc
        - (https://academicaffairs.ucsd.edu/Modules/Students/PreAuth/)
- Attached TA form needs to be completed by both student and faculty, and returned to me before start of TAship
    - 25% is 2 units, 110 hours
    - 50% is 4 units, 220 hours

See also the [teaching requirement](http://bioinformatics.ucsd.edu/node/25) page
of the official website.
{% endfilter %}
{{ macros.list_of_posts(posts, current_user, 'ta.detail', 'ta.update') }}
{% if prev_url %}
<a class="btn btn-outline-primary" href="{{ prev_url }}">Newer posts</a>
{% endif %}
{% if next_url %}
<a class="btn btn-outline-primary" href="{{ next_url }}">Older posts</a>
{% endif %}
{% endblock %}
