venv/*
!venv/lib
venv/lib/*
!venv/lib/python3.6
venv/lib/python3.6/*
!venv/lib/python3.6/site-packages
venv/lib/python3.6/site-packages/*
!venv/lib/python3.6/site-packages/uwsgi.py

*.pyc
__pycache__/

instance/

.pytest_cache/
coverage
htmlcov

dist/
build/
*.egg-info/

.coverage
