{% extends 'base.html' %}
{% import 'macros.html' as macros %}

{% block header %}
<h1>{% block title %}Exams{% endblock  title %}</h1>
<a class="btn btn-outline-primary" href="{{ url_for('exam.create') }}">
  New post
</a>
{% endblock header %}

{% block content %}
<hr>
<p class="lead">
  This page is for qualifying and senate exams. See also official
  pages for <a href="https://bioinformatics.ucsd.edu/index.php/node/37">qualifying</a>
  and <a href="https://bioinformatics.ucsd.edu/index.php/node/39">senate</a> exams.
</p>
{% filter markdown %}
---

## [Student-compiled guidelines](https://docs.google.com/document/d/1-O1bEJv_3URn6doPl06N5uRZdXjKJVQgIKy1r9ooI9k/edit)
For guidelines on research rotations, see [Lab](https://ucsd-bisb.info/lab/index).
For guidelines on dissertations, see [Thesis / Dissertation](https://ucsd-bisb.info/td/index).

### Second year: Qualifying exam
> Can you ask a question?

- A good qual can be submitted as an early degree fellowship (e.g. NSF)
- Will be scheduled by the BISB coordinator in Spring quarter
    - Can be postponed to summer
    - If you fail you can retake
- Committees are selected by BISB program director
    - Committee members will be emailed by the coordinator to inform them, but
      you should also send out an email to schedule the exam. (Tip: get
      available dates from the busiest person on your committee and create an
      availability poll around them) [Examples]()
- Prepare a 45 minute oral presentation on your project, focus on background
  and methodology you used
    - 1-2 weeks before, give practice talk in lab meeting
    - [Schedule a room](https://hsreservations.ucsd.edu/), allocating 2 hours
    - Example: Michelle's [qual proposal and presentation](https://drive.google.com/drive/folders/1wEqV2qPJ8CfWW6VQIeh3IrInisQUq2nG?usp=sharing)
    - Example: Tony's qual [proposal]() and [presentation]()
- During the exam:
    - The committee members should have been given an evaluation form found [here](https://bioinformatics.ucsd.edu/node/37)
    - Present your talk for 1 hour, anticipate questions throughout the talk 
    - After your talk you will be asked to step out of the room while the committee discuss, about 10-15 minutes
    - The committee should invite you back in, where they will give comments and suggestions, and let you know if you pass or not
    - The BISB coordinator should be by to pick up the evaluation forms
  
### Third year: Senate exam
> Can you ask a good question?

- A good senate can be submitted to a mid-degree fellowship (e.g. F31)
- To be scheduled by you, whenever you are ready
- Follow [these guidelines](https://bioinformatics.ucsd.edu/index.php/node/17757)
  when making your selections
    - Michelle’s [notes](https://docs.google.com/document/d/1Bn-BmQjll1abjIK3_LK7_LmZ7ElwKLZ8lhJDyShnNu8/edit)
      on committee selection (because all of the sites made it confusing):
    - Email your proposed committee asking for their participation,
      with a description of your focus. [Example]().
- After the committee has committed, email the BISB coordinator with your
  selections described in a table. [Example].
- Prepare a 1 hour oral presentation

{% endfilter %}
{{ macros.list_of_posts(posts, current_user, 'exam.detail', 'exam.update') }}
{% if prev_url %}
<a class="btn btn-outline-primary" href="{{ prev_url }}">Newer posts</a>
{% endif %}
{% if next_url %}
<a class="btn btn-outline-primary" href="{{ next_url }}">Older posts</a>
{% endif %}
{% endblock %}
