{% extends 'base.html' %}
{% from 'macros.html' import profs_button as profs_button %}

{% block header %}
<h1>{% block title %}BISB Faculty Database{% endblock %}</h1>
<a class="btn btn-outline-primary" href="{{ url_for('lab.index') }}">Lab Index</a>
{% endblock %}

{% block content %}
<hr>
{{ profs_button(dept, 'bio', 'Biological Science') }}
{{ profs_button(dept, 'bioe', 'Bioengineering') }}
{{ profs_button(dept, 'cse', 'Computer Science & Engineering') }}
<hr>
{{ table|markdown(autolink=True, tables=True) }}
<hr>
These data are copied from a <a href="https://docs.google.com/spreadsheets/d/1NJ3v91__sB3UYHrr81DRJpkkedp8o0780_vO8ZAoUxI/edit?usp=sharing">google sheet</a>,
and may lag behind it slightly.
{% endblock %}
