{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Industry Company Database{% endblock %}</h1>
<a class="btn btn-outline-primary" href="{{ url_for('career.index') }}">Career Index</a>
{% endblock %}

{% block content %}
<hr>
This is a list of bioinformatics industry companies & relevant information
that has circulated among some BISB students. Some of the information is
out of date, and you certainly shouldn't limit your job search to places listed
here, but it might be a good place to start.
<hr>
{{ table|markdown(autolink=True, tables=True) }}
{% endblock %}
