{% extends "base.html" %} {% block header %}
<h1>{% block title %}Career{% endblock %}</h1>
{% endblock %} {% block content %}
<hr>
<div style="white-space: pre-wrap;">
See the forwarded message for details about a "Computational Biologist" position at Johnson&Johnson in San Diego. Contact Kris Thomas if you're interested.

---------- Forwarded message ----------
From: Kris Thomas <kris@newageclinical.com>
Date: Tue, Jul 17, 2018 at 7:48 AM
Subject: Scientist-IV (Computational Biology) Opening with Johnson&Johnson
To: bbehsaz@ucsd.edu
Hi Bahar,

I'm a Resource Specialist (Kris Thomas), writing from NewAgeSys Inc.
I have a great opportunity with one of my direct client, Johnson&Johnson that I would like you to consider. Can you review the details below and let me know what your interest is? 
If you are interested in a  please contact me with your updated resume as a reply to my email.. If you are not available, can you refer anyone who may be suited for this position?Also  feel free to contact me at 609-945-1816 or mail me at kris@newageclinical.com

Please find the job description below

Client       : Johnson&Johnson

Req ID     : JNJNJP00050203

Job Title:  : Scientist-IV (Computational Biology)

Duration : 1+ year contract on W2 with possible extension.

Location : San Diego, CA


Responsibilities 
•Analyze pan-omics data, mostly NGS RNA sequencing. 
•Integrate pan-omics and other data from internal and external sources to expand in-house knowledge bases. 
•Develop research grade methods and pipelines for data management, processing and analysis. 

Qualifications 
•Ph.D. in Bioinformatics, Computational Biology, Molecular Biology, System Biology, or a related discipline with 3 years or more working experience in Computational Biology, or M.S. in the same disciplines with 5 years or more working experience in Computational Biology. 
•Experience with NGS single cell/nucleus data analysis is required. 
•Proficient in R is required. 
•Experience with large scale data collection, processing, integration and meta-analysis is preferred. 
•Experience with high performance parallel computing and cloud computing is a preferred. 
•Experience with epigenomics is preferred. 
•Experience with Omicsoft tool suite is a plus. 

Responsibilities 
•Analyze healthcare data, run descriptive statistics, generate prior distributions, explore relationships: correlation, covariance, causality, structural equation modeling, and build Bayesian Influence diagrams 
•Develop Predictive models with Deep Learning networks, Gradient Boosting, Random Forest, SVM, and Logistic Regression using both generative and discriminative algorithms 
•Define dynamics in the system as difference equations, Markovian processes, AR/ARMA, and develop Optimization algorithms, e.g. Decision theory, finite horizon problems, Kalman filter, Particle filter 
•Sub-group analysis: clustering, agglomerative clustering, graph based clustering, and PCA analysis 
•Define and develop features, selections (Ridge/Lasso), and ranking 
•Develop algorithms in order to achieve the desired health outcomes, and improved health behavior in Big data environment SPARK and SCALA. 
•Standardize nominal, categorical, and numerical data to ensure data integrity 
•Partner with scientists, engineers, and business to collect and organize healthcare data, and generate insights for thought leadership and marketing claims 
•Work with Engineer to build dashboards to visualize near real-time insights for targeted audience including scientists and commercial 
•Author peer reviewed journal articles and white papers related to the Data Science solutions 

Qualifications: 
•A minimum of a Ph.D. degree is required in one of the following fields: Mathematics, Computer Science, Physics, and Statistics with focus in Machine Learning, Deep Learning, and Optimization is required 
•1 or more years of experience is preferred (not mandatory) in algorithm development, predictive models, and optimization techniques are required. Post Doc research experience in healthcare. 
•Strong Programming skills in Python, SQL, Java, C++/C, Scala, Matlab, R 
•Experience in Bayesian inference, and Markovian processes is preferred 
•Experience in Text Mining and NLP is preferred 
•Having an understanding of and ability to apply research in real world problems to generate actionable insights is required 
•Demonstrate professional scholarly activity e.g. conference presentations, peer-reviewed publications, etc. 
•Active listening skills, deep analytical ability, and strong organizational skills are required. 
•A passion for excellence and exceeding customer expectations is required. 
•Excellent oral and interpersonal communication skills are required.

 

Thanks & Regards,
Kris Thomas
Recruitment Lead (Clinical)
609-945-1816
NewAge Clinical,
A Division of NewAgeSys, Inc.
600 Alexander Rd, Suite 3-3, Princeton, NJ 08540 

Visit our web Link for suitable positions :
http://www.newagesys.com/careers.html
http://www.newageclinical.com/careers.html

www.newagesys.com, www.newageclinical.com

Inc 5000 Company for 8th Time 
</div>
{% endblock %}
