{% extends "base.html" %}
{% import 'macros.html' as macros %}

{% block header %}
<h1>{% block title %}Career{% endblock title %}</h1>
<a class="btn btn-outline-primary" href="{{ url_for('career.create') }}">New post</a>
{% endblock header %}
{% block content %}
<hr>
<a class="btn btn-outline-primary" href="{{ url_for('career.companies') }}">Industry Companies Database</a>
<hr>
{% filter markdown %}
**Must-reads!**

- Check out [Olga Botvinnik's blog](https://olgabotvinnik.com/blog/job-seq-the-lowest-throughput-sequencing-technology/) for some useful wisdom on starting a bioinformatics career. (She's a program alum.)
- The Broad Institute's [CommKit](https://mitcommlab.mit.edu/broad/use-the-commkit/) is a collection of tips and guidelines for writing and formatting slideshows, posters, papers, fellowship applications, CV's, etc.
- UC San Francisco's [Office of Career and Professional Development](https://career.ucsf.edu/phds/basic-biomedical-sciences) is a treasure trove of useful advice.

---

**Other useful resources**

- [The Grad Student Way](http://thegradstudentway.com/blog/) is a blog with some useful articles on career development, especially the Grad Student Advice Series ([Part 1](http://thegradstudentway.com/blog/?p=548), [Part 2](http://thegradstudentway.com/blog/?p=1051), [Part 3](http://thegradstudentway.com/blog/?p=1143)).
- [Hiring for Bioinformatics](https://www.reddit.com/r/bioinformatics/comments/7ozqau/hiring_for_bioinformatics_part_1/), a series of reddit posts from the perspective of a hiring manager ([Part 1](https://www.reddit.com/r/bioinformatics/comments/7ozqau/hiring_for_bioinformatics_part_1/), [Part 2](https://www.reddit.com/r/bioinformatics/comments/7pglon/hiring_for_bioinformatics_part_2/), [Part 3](https://www.reddit.com/r/bioinformatics/comments/7pxkqi/hiring_for_bioinformatics_part_3/)).
- [San Diego Biotechnology Network](https://sdbn.org)
- [California Life Sciences Association](https://califesciences.org)

---

**Industry companies with locations in San Diego / La Jolla:**

- [Agilent Techologies](https://www.agilent.com) (biotech hardware)
- [Ascus Biosciences](https://ascusbiosciences.com) (endomicrobial ecology)
- [BioInfoRx](https://bioinforx.com/lims2/about.php) (NGS data analysis)
- [BioLegend](https://www.biolegend.com/en-us/company) (antibody development)
- [Bionano Genomics](https://bionanogenomics.com) (long read sequencing)
- [BioSplice](https://www.biosplice.com/default.aspx) (alternative splicing)
- [Bluestar genomics](https://www.bluestargenomics.com) (precision epigenomic medicine)
- [Cradle Genomics](https://www.linkedin.com/company/cradle-genomics/) (prenatal genetic testing)
- [Eclipse](https://eclipsebio.com) (RNA genomics)
- [Element Biosciences](https://www.elementbiosciences.com) (genetic analysis tools)
- [Empirico](https://www.empiricotx.com) (drug development)
- [Fate Theraputics](https://fatetherapeutics.com) (cancer and immune disorders)
- [Helix](https://www.helix.com) (population/personal genomics)
- [Human Longevity, Inc](https://www.humanlongevity.com) (genomics for aging and health)
- [Illumina](https://www.illumina.com) (sequencing & microarrays)
- [Immuneering](https://immuneering.com) (computational biology services)
- [InVitae](https://www.invitae.com/en/) (medical genetics)
- [J. Craig Venter Institute](https://www.jcvi.org) (genomics)
- [Janssen R & D](https://www.janssen.com/us/) (Biotech R&D)
- [LabCorp](https://jobs.labcorp.com) (life science & drug development)
- [Millenium Health](https://www.millenniumhealth.com/) (drug testing services)
- [Monoceros Biosystems](https://monocerosbio.com) (bioinformatics consulting)
- [Omniome](https://www.omniome.com) (DNA sequencing)
- [OnRamp BioInformatics](https://www.onramp.bio) (user-friendly bioinformatics software)
- [Pathway Genomics](https://www.pathway.com) (personal genomics)
- [Pfizer](https://www.pfizer.com/science/research-development/centers/ca_la_jolla) (various biotech)
- [Poseida Theraputics](https://poseida.com) (gene engineering therapies)
- [Prometheus Labs](https://www.prometheuslabs.com) (gastroenterology diagnostics)
- [Rakuten Medical](https://rakuten-med.com) (cancer)
- [Rancho Biosciences](http://ranchobiosciences.com) (biotech data analysis)
- [Resmed](https://www.resmed.com/us/en/consumer.html) (medical devices)
- [Sanford Burnham Prebys](https://www.sbpdiscovery.org) (basic & translational biomedical research)
- [SGI-DNA](https://sgidna.com) (synthetic DNA)
- [Singular Genomics](https://www.linkedin.com/company/singular-genomics/) (human genomics)
- [Synthetic Genomics](https://syntheticgenomics.com) (algal engineering)
- [Tocagen](https://tocagen.com) (cancer-selective gene therapy)
- [Verogen](https://verogen.com) (forensic genomics)
- [Vertex Pharmaceuticals](https://www.vrtx.com) (drug development)
- [Xencor](https://www.xencor.com) (antibody drugs)

---

**Recent job openings:**

- [Various](https://www.invitae.com/en/careers/search) (InVitae)
- [Various](https://jobs.lever.co/deepgenomics) (Deep Genomics)
- [Various](https://guardanthealth.com/careers/jobs/) (Guardant Health)
- [Various](https://ucsd-bisb.info/career/129/detail) (January 2020 San Diego roundup)
- [Various](https://ucsd-bisb.info/career/125/detail) (a16z startups, 2019-12-24)
- [Various] (https://ucsd-bisb.info/career/126/detail) (Insitro, 2019-12-24)
- [Scientist - Genomics & Proteomics](https://ucsd-bisb.info/career/102/detail) (Chan Zuckerberg Biohub, 2019-10-13)
- [Bioinformatics scientist](https://ucsd-bisb.info/career/81/detail) (Monoceros Biosystems, 2019-08-18)
- [Computational biologist](https://ucsd-bisb.info/career/90/detail) (Fulcrum Theraputics, 2019-07-21)
- [Bioinformatics scientist]({{ url_for('protected.protected', filename='2019-04-30-denovo-bioinformatics-scientist-position.pdf') }}) (Denovo Biopharma, 2019-04-30)

[Older job openings]({{ url_for('career.older_job_openings') }})

---

There are also [some resources](http://bioinformatics.ucsd.edu/node/34) listed on the official BISB website:

**Job portals:**

- [naturejobs.com](http://naturejobs.com/) at the journal _Nature_
- [_Science Careers_](http://sciencecareers.sciencemag.org/) listings at the journal _Science_
- [ISCB jobs board](https://careers.iscb.org/)

**Other career and job hunting advice**

- [CSE: CRA Workshops on Academic Careers for Women in Computer Science](http://www.cs.ucsd.edu/node/235) (Much of the advice applies to both female and male grads in other disciplines as well.)
- [Career Services Center](http://career.ucsd.edu/)
- [Center for Teaching Development](http://ctd.ucsd.edu/) Look on the calendar for workshops that may help in your career preparation.
{% endfilter %}
{{ macros.list_of_posts(posts, current_user, 'career.detail', 'career.update') }}
{% if prev_url %}
<a class="btn btn-outline-primary" href="{{ prev_url }}">Newer posts</a>
{% endif %}
{% if next_url %}
<a class="btn btn-outline-primary" href="{{ next_url }}">Older posts</a>
{% endif %}
{% endblock content %}
