{% extends 'base.html' %}
{% import 'macros.html' as macros %}

{% block header %}
<h1>{% block title %}Program Statistics{% endblock  title %}</h1>
<a class="btn btn-outline-primary" href="{{ url_for('stats.create') }}">
  New post
</a>
{% endblock header %}

{% block content %}
<hr>
<p class="lead">Vital statistics of the BISB program are found here.</p>
<a class="btn btn-outline-primary" href="{{ url_for('protected.protected', filename='bisb-bmi-town-hall-survey-summary.pdf') }}">
  2018 BISB/BMI student survey
</a>
<a class="btn btn-outline-primary" href="{{ url_for('protected.protected', filename='bisb-bmi-town-hall-survey-summary-2019.pdf') }}">
  2019 BISB/BMI student survey
</a>
<a class="btn btn-outline-primary" href="{{ url_for('protected.protected', filename='20200211_MR_WI20-Steering-Committee-Student-Comments-2.pdf') }}">
  2020 BISB/BMI student survey
</a>
{{ macros.list_of_posts(posts, current_user, 'stats.detail', 'stats.update') }}
{% if prev_url %}
<a class="btn btn-outline-primary" href="{{ prev_url }}">Newer posts</a>
{% endif %}
{% if next_url %}
<a class="btn btn-outline-primary" href="{{ next_url }}">Older posts</a>
{% endif %}
{% endblock %}
