{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Whisper{% endblock %}</h1>
{% endblock %} {% block content %}
<hr>
<p class="lead">
  The purpose of this feature is to provide a space for students to share information which they believe is important for other
  students to know, but which they are only comfortable sharing under conditions of anonymity and confidentiality.
</p>
<a href="{{ url_for('whisper.info') }}" class="btn btn-outline-primary">More information</a>
<p class="lead">
  <br />
  To view this content, you must accept the confidentiality agreement below. You will then be directed to the Whisper login
  page, where you can create or log in to your anonymous account.
</p>
<hr>
<h2>UCSD BISB UNOFFICIAL</h2>
<h2>Multi-Party Non-Disclosure Agreement</h2>
<p>
  This multi-party nondisclosure agreement (“<strong>Agreement</strong>”)
  pertains only to [the use of] the Whisper section (“<strong>Whisper</strong>”)
  of the UCSD BISB Unofficial Website, located at
  <code>https://ucsd-bisb.info</code> (the “<strong>Website</strong>”), and
  shall be entered into by all current and future users of Whisper
  (collectively, the “<strong>Users</strong>”) who select “Agree” before
  proceeding to use or access Whisper.  The Agreement effectively binds to each
  User on the date in which they select “Agree.” 
</p>
<h3>Section 1. Intention of Agreement</h3>
<p>
  This Agreement is intended to cover the Users’ confidentiality obligations
  with respect to disclosures regarding or pertinent to the information
  provided, shared, published or otherwise disclosed on Whisper, whether
  unmodified or modified by any of the Users, whenever and however disclosed or
  published on Whisper (the “<strong>Confidential Information</strong>”) in order to
  facilitate honest and frank discussions amongst graduate students at
  University of California, San Diego.  Whisper is an anonymized section of the
  Website that contains sensitive and confidential information.
</p>
<h3>Section 2.  Confidential Information</h3>
<p>
  For purposes of this Agreement, “<strong>Confidential Information</strong>” is
  as defined in Section 1 and does not include any data or information that is
  generally known to the public at the time of disclosure or thereafter (other
  than as a result of a disclosure by any User).
</p>
<h3>Section 3. Obligation of Confidentiality</h3>
<p>
  Each User who receives Confidential Information
  (the “<strong>Receiving User</strong>”) that another User discloses on the
  Website (the “<strong>Disclosing User</strong>”) is obligated to maintain the
  confidentiality of the Confidential Information provided by the Disclosing
  User, and the Receiving User must use a reasonable degree of care to protect
  the Confidential Information.  No Receiving User shall disclose any of the
  Disclosing Users’ Confidential Information in Whisper to any third parties
  without explicit consent from the Disclosing User. The Receiving User will not
  make any copies, digital or non-digital, of the Confidential Information
  received from a Disclosing User.
</p>
<h3>Section 4. Period of Confidentiality</h3>
<p>
  This Agreement shall be effective for a period of seven (7) years from the
  date of the publication or disclosure of the Confidential Information on
  Whisper.  No Receiving User will be liable for the disclosure of Confidential
  Information which is:
  <ol type="a">
    <li>
      Published with the consent of the Disclosing User or otherwise
      rightfully in the public domain other than by a breach of a duty of
      confidentiality to the Disclosing User;
    </li>
    <li>
      Rightfully and independently received through an alternative source or
      third party other than Whisper, without any obligation of
      confidentiality; 
    </li>
    <li>
      Rightfully known to the Receiving User without any limitation on use or
      disclosure prior to its receipt from the Disclosing User; or
    </li>
    <li>
      Generally made available to third parties by the Disclosing User without
      restriction on disclosure.
    </li>
  </ol> 
</p>
<h3>Section 5. Title of Confidential Information</h3>
<p>
  The title or right to possess Confidential Information as between Receiving
  User and Disclosing User will remain in the Disclosing User.
</p>
<h3>Section 6. Obligation to Disclose</h3>
<p>
  No party has an obligation to disclose Confidential Information to any other
  party.
</p>
<h3>Section 7. Termination</h3>
<p>
  This Agreement will survive until the end of the period set forth in Section
  4.  A Disclosing User may at any time:
  <ol type="a">
    <li>
      delete the Confidential Information published on the Website without any
      liability and/or
    </li>
    <li>
      request the destruction of all or part of the Confidential Information
      previously disclosed and the Website administrator will use its
      reasonable efforts to comply within sixty (60) calendar days unless
      legally prohibited to do so.
    </li>
  </ol>
</p>
<h3>Section 8. No Warranty and Liability Waiver</h3>
<p>
  All parties acknowledge that all information provided hereunder is provided
  “AS IS” WITHOUT ANY WARRANTIES WHATSOEVER, WHETHER EXPRESS, IMPLIED,
  STATUTORY, OR OTHERWISE.  THE PARTIES EXPRESSLY DISCLAIM ANY WARRANTIES OF
  MERCHANTABILITY, NON-INFRINGEMENT, FITNESS FOR ANY PARTICULAR PURPOSE, OR
  ANY WARRANTY OTHERWISE ARISING OUT OF THE USE OF WHISPER. Whisper will not
  have any liability to any of the Users resulting from their disclosure or use
  of any Confidential Information.
</p>
<h3>Section 9. General</h3>
<p>
  <ol type="a">
    <li>
      This Agreement is neither intended to, nor will it be construed as
      creating a joint venture, a partnership or other form of a business
      association between parties, nor an obligation to buy or sell products
      using or incorporating the Confidential Information.
    </li>
    <li>
      The failure of any party to enforce any rights resulting from breach of
      any provision of this Agreement will not be deemed a waiver of any right
      relating to a subsequent breach of such provision or of any other right
      hereunder.
    </li>
    <li>
      This Agreement constitutes the entire agreement between the parties with
      respect to the disclosures of Confidential Information  unless amended by
      the parties in writing.
    </li>
    <li>
      Each User, with its own Website account name, shall execute this
      Agreement by selecting “Agree” before receiving access to Whisper via the
      Website, and this selection shall constitute an electronic signature that
      shall be deemed an original and all of which together shall constitute
      one instrument. A list of all Users who have agreed to this Agreement
      prior to accessing Whisper can be provided if there is a legal need
      to do so.
    </li>
  </ol>
</p>
<h3>Section 10. Choice of Law and Jurisdiction</h3>
<p>
  This Agreement shall be subject to and be governed by the law of the State of
  California and the place of jurisdiction shall be San Diego, California.
</p>
<p>Date: {{ date }}</p>
<a href="{{ url_for('whisper.anonymize') }}" class="btn btn-outline-warning">Agree</a>
<a href="{{ url_for('jumbotron.index') }}" class="btn btn-outline-primary">Decline</a>
{% endblock %}