{% macro feature(
  title,
  description,
  button_text,
  button_class='btn btn-outline-primary',
  href=none
) %}
<div class="col-md-4">
  <h2>{{ title }}</h2>
  <p>{{ description }}</p>
  <p>
    {% if href %}
    <a href="{{ href }}" class="{{ button_class }}">{{ button_text }}</a>
    {% else %}
    <button class="{{ button_class }}" disabled>{{ button_text }}</button>
    {% endif %}
  </p>
</div>
{% endmacro %}

{% macro quote(body, attribution, cite=none, safe=false) %}
{% if cite %}
<blockquote class="blockquote" cite="{{ cite }}">
{% else %}
<blockquote class="blockquote">
{% endif %}
  {{ body }}
  <footer class="blockquote-footer text-right">
    {% if cite and safe %}
    <a href="{{ cite }}">{{ attribution|safe }}</a>
    {% elif cite %}
    <a href="{{ cite }}">{{ attribution }}</a>
    {% elif safe %}
    {{ attribution|safe }}
    {% else %}
    {{ attribution }}
    {% endif %}
  </footer>
</blockquote>
{% endmacro %}

{% macro list_of_posts(posts, current_user, detail_route, update_route) %}
{% for post in posts %}
  {% if loop.first %}
    <hr>
  {% endif %}
  <article class="post">
    <header>
      <div>
        <h1><a href="{{ url_for(detail_route, id=post.id) }}">{{ post.title }}</a></h1>
        <div class="about">
          by {{ post.author.username }} on {{ post.timestamp.strftime('%Y-%m-%d') }}
          {% if post.document_url %}(document){% endif %}
          {% if post.image_url %}(image){% endif %}
        </div>
      </div>
      {% if post.document_url %}
      <a href="{{ post.document_url }}" class="btn btn-outline-primary">Document</a>
      {% endif %}
      {% if post.image_url %}
      <a href="{{ post.image_url }}" class="btn btn-outline-primary">Image</a>
      {% endif %}
      {% if current_user.id == post.user_id %}
      <a class="btn btn-outline-primary" href="{{ url_for(update_route, id=post.id) }}">Edit</a>
      {% endif %}
    </header>
    <p class="body">{{ post.preview }}</p>
  </article>
  {% if not loop.last %}
    <hr>
  {% endif %}
{% endfor %}
{% endmacro %}

{% macro list_of_whisper_posts(posts, current_user, detail_route, update_route) %}
{% for post in posts %}
  {% if loop.first %}
    <hr>
  {% endif %}
  <article class="post">
    <header>
      <div>
        <h1><a href="{{ url_for(detail_route, id=post.id) }}">{{ post.title }}</a></h1>
        <div class="about">
          by {{ post.author.username }} on {{ post.timestamp.strftime('%Y-%m-%d') }}
          {% if post.document_url %}(document){% endif %}
          {% if post.image_url %}(image){% endif %}
        </div>
      </div>
      {% if post.document_url %}
      <a href="{{ post.document_url }}" class="btn btn-outline-primary">Document</a>
      {% endif %}
      {% if post.image_url %}
      <a href="{{ post.image_url }}" class="btn btn-outline-primary">Image</a>
      {% endif %}
      {% if current_user.id == post.whisper_user_id %}
      <a class="btn btn-outline-primary" href="{{ url_for(update_route, id=post.id) }}">Edit</a>
      {% endif %}
    </header>
    <p class="body">{{ post.preview }}</p>
  </article>
  {% if not loop.last %}
    <hr>
  {% endif %}
{% endfor %}
{% endmacro %}

{% macro list_of_comments(comments, current_user, delete_comment_route) %}
{% for comment in comments %}
  {% if loop.first %}
    <hr>
  {% endif %}
  <article class="post">
    <header>
      <div class="about">by {{ comment.author.username }} on {{ comment.timestamp.strftime('%Y-%m-%d') }}</div>
      {% if current_user.id == comment.user_id %}
        <a class="btn btn-outline-primary" href="{{ url_for(delete_comment_route, id=comment.id) }}">Delete</a>
      {% endif %}
    </header>
    <p class="body">
    {{
      comment.body|markdown(
        autolink=True, fenced_code=True, highlight=True, quote=True,
        strikethrough=True, superscript=True, tables=True, escape=True
      )
    }}
    </p>
  </article>
  {% if not loop.last %}
    <hr>
  {% endif %}
{% endfor %}
{% endmacro %}

{% macro list_of_whisper_comments(comments, current_user, delete_comment_route) %}
{% for comment in comments %}
  {% if loop.first %}
    <hr>
  {% endif %}
  <article class="post">
    <header>
      <div class="about">by {{ comment.author.username }} on {{ comment.timestamp.strftime('%Y-%m-%d') }}</div>
      {% if current_user.id == comment.whisper_user_id %}
        <a class="btn btn-outline-primary" href="{{ url_for(delete_comment_route, id=comment.id) }}">Delete</a>
      {% endif %}
    </header>
    <p class="body">
    {{
      comment.body|markdown(
        autolink=True, fenced_code=True, highlight=True, quote=True,
        strikethrough=True, superscript=True, tables=True, escape=True
      )
    }}
    </p>
  </article>
  {% if not loop.last %}
    <hr>
  {% endif %}
{% endfor %}
{% endmacro %}

{% macro search_results(posts, current_user) %}
{% for post in posts %}
  {% if loop.first %}
    <hr>
  {% endif %}
  <article class="post">
    <header>
      <div>
        <h1><a href="{{ url_for(post.detail_route, id=post.id) }}">{{ post.title }}</a></h1>
        <div class="about">
          by {{ post.author.username }} on {{ post.timestamp.strftime('%Y-%m-%d') }}
          {% if post.tag %}[{{ post.tag }}]{% endif %}
          {% if post.document_url %}(document){% endif %}
          {% if post.image_url %}(image){% endif %}
        </div>
      </div>
      {% if post.document_url %}
      <a href="{{ post.document_url }}" class="btn btn-outline-primary">Document</a>
      {% endif %}
      {% if post.image_url %}
      <a href="{{ post.image_url }}" class="btn btn-outline-primary">Image</a>
      {% endif %}
    </header>
    <p class="body">{{ post.preview }}</p>
  </article>
  {% if not loop.last %}
    <hr>
  {% endif %}
{% endfor %}
{% endmacro %}

{% macro markdown_message() %}
<div>
{% filter markdown %}
Posts and comments support
[Markdown](https://www.markdownguide.org/cheat-sheet/) via
[Flask-Misaka](https://flask-misaka.readthedocs.io/en/latest/), with the
following options turned on: `autolink`, `fenced_code`, `highlight`, `quote`,
`strikethrough`, `superscript`, `tables`, and `escape`.
{% endfilter %}
</div>
{% endmacro %}