{% extends 'base.html' %}
{% from 'macros.html' import markdown_message as markdown_message %}

{% block header %}
<h1>{% block title %}New Post{% endblock title %}</h1>
{% endblock header %}

{% block content %}
<div class="content-post">
  <form method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ form.title.label }}
    {{ form.title(id='title', required=True) }}
    {{ form.body.label }}
    {{ form.body(cols=32, rows=4, id='body') }}
    {{ form.document.label }}
    {{ form.document(id='document')}}
    {{ form.image.label }}
    {{ form.image(id='image')}}
    {{ form.submit() }}
  </form>
</div>
{{ markdown_message() }}
{% endblock content %}
