{% extends 'base.html' %}
{% from 'macros.html' import list_of_posts as list_of_posts %}

{% block header %}
  <h1>{% block title %}Posts{% endblock title %}</h1>
  <a class="btn btn-outline-primary" href="{{ url_for('blog.create') }}">New</a>
{% endblock header %}

{% block content %}
<img src="https://ucsd-bisb.info/_uploads/images/test-tube.png" alt="test-tube.png" style="max-width:100%;height:auto;">
<img src="https://ucsd-bisb.info/uploads/img/test-tube.png" alt="test-tube.png" style="max-width:100%;height:auto;">
{{ list_of_posts(posts, current_user, 'blog.detail', 'blog.update') }}
{% if prev_url %}
<a class="btn btn-outline-primary" href="{{ prev_url }}">Newer posts</a>
{% endif %}
{% if next_url %}
<a class="btn btn-outline-primary" href="{{ next_url }}">Older posts</a>
{% endif %}
{% endblock content %}
