{% extends 'base.html' %}
{% import 'macros.html' as macros %}

{% block header %}
<h1>{% block title %}Tech{% endblock %}</h1>
<a class="btn btn-outline-primary" href="{{ url_for('tech.create') }}">New post</a>
{% endblock header %}

{% block content %}
<hr>
<p class="lead">
  Check out
  <a href="http://education.knoweng.org/sequenceng/">this useful resource</a>
  to jump-start your understanding of modern next-generation sequencing technologies
  and software analysis pipelines.
</p>
{{ macros.list_of_posts(posts, current_user, 'tech.update') }}
{% endblock content %}
