{% extends 'jumbotron/index.html' %}
{% from 'macros.html' import feature as feature %}

{% block otherfeatures %}
{{
  feature(
    'GBIC',
    'Directory of GBIC officers',
    'Check GBIC directory',
    href=url_for('gbic.index')
  )
}}
{{
  feature(
    'Residency',
    'Find out how to deal with California residency issues',
    'Learn about residency',
    href=url_for('residency.index')
  )
}}
{{
  feature(
    'TAship',
    'Find teaching assistantship positions',
    'Find a TAship',
    href=url_for('ta.index')
  )
}}
{{
  feature(
    'Seminars',
    'Post your favorite seminars here',
    'View seminars',
    href=url_for('seminars.index')
  )
}}
{{
  feature(
    'Mental Health',
    'Facts about mental health in graduate school',
    'Learn the facts',
    href=url_for('mental_health.index')
  )
}}
{{
  feature(
    'Program Statistics',
    'See statistics about the BISB program and how it compares to other programs.',
    'View stats',
    href=url_for('stats.index')
  )
}}
{{
  feature(
    'Committee',
    'Discuss the makeup of doctoral committees.',
    'Discuss committees',
    href=url_for('committee.index')
  )
}}
{{
  feature(
    'Exam',
    'See materials presented by students who passed qualifying and senate exams.',
    'View exam materials',
    button_class='btn btn-outline-secondary'
  )
}}
{{
  feature(
    'Technology',
    'Bioinformatics is a discipline with many established best practices and standard technologies.',
    'Learn about tech',
    href=url_for('tech.index')
  )
}}
{{
  feature(
    'Outreach',
    'Learn how students are working to improve the diversity and profile of the program.',
    'Reach out',
    button_class='btn btn-outline-secondary'
  )
}}
{{
  feature(
    'Fellowships',
    'Learn what fellowships to apply for and how to maximize your chances.',
    'Find fellowships',
    href=url_for('fellowships.index')
  )
}}
{{
  feature(
    'Whisper',
    'Share important but sensitive information anonymously and confidentially.',
    'Whisper',
    href=url_for('whisper.confidentiality')
  )
}}
{{
  feature(
    'Development',
    'This website still needs a lot of work! Contributions to development are welcomed, and it\'s easy to get started.',
    'Develop the site',
    href='https://github.com/anthony-aylward/ucsd-bisb-unofficial'
  )
}}
{{
  feature(
    'Blog',
    'Simple Flask app for testing during development of the site.',
    'View blog app',
    href=url_for('blog.index')
  )
}}
{% endblock otherfeatures %}
