{% extends 'base.html' %}
{% block title %}Index{% endblock %}
{% block header %}{% endblock %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">It takes a village</h1>
    </p>
    <p class="lead">
      This is the unofficial information hub for graduate students in the
      Bioinformatics and Systems Biology program at UCSD.
    </p>
    <p class="lead">
      Sometimes the <a href="http://bioinformatics.ucsd.edu">official resources</a>
      are inadequate. Even dedicated lab websites are often out of date. This is
      where we fill in the gaps.
    </p>
    <p><button class="btn btn-outline-primary" disabled>Latest news</button></p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Lab</h2>
      <p>Learn about the organizational styles of various labs, and about which
        ones are hiring new students. Examples of past rotation reports are also
        found here.
      </p>
      <a href="{{ url_for('lab.index') }}" class="btn btn-outline-primary">Learn about labs</a>
    </div>
    <div class="col-md-4">
      <h2>Career</h2>
      <p>Learn how to make the most of job hunting before and after defending your thesis.</p>
      <a href="{{ url_for('career.index') }}" class="btn btn-outline-primary">Learn about jobs</a>
    </div>
    {% block otherfeatures %}
    <div class="col-md-4">
      <h2>More...</h2>
      <p>See the rest of this site's features.</p>
      <p><a href="{{ url_for('jumbotron.full') }}" class="btn btn-outline-primary">See more</a></p>
    </div>
    {% endblock otherfeatures %}
  </div>
  <hr>
    <blockquote class="blockquote">
      Current graduate students are the only reliable source of advice on how 
      to succeed in graduate school.
      <footer class="blockquote-footer text-right">Tony</footer>
    </blockquote>
    <blockquote class="blockquote">
        This site still needs a lot of work, but I think if even just a few of 
        us contribute some time to it then it has the potential to make a lot
        of things easier for most of us.
        <footer class="blockquote-footer text-right">Tony</footer>
      </blockquote>
</div> 
{% endblock content %}
