{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% block title %}Index{% endblock %}
{% block header %}{% endblock %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">It takes a village</h1>
    <p class="lead">
      Join the discussion of this project on
      <a href="https://bisbucsd.slack.com/channels/ucsd-bisb-unofficial" class="btn btn-outline-primary">Slack</a>
    </p>
    <p class="lead">
      This is the unofficial information hub for graduate students in the
      Bioinformatics and Systems Biology program at UCSD.
      Sometimes the <a href="http://bioinformatics.ucsd.edu">official resources</a>
      are inadequate. Even dedicated lab websites are often out of date. This is
      where we fill in the gaps.
    </p>
    <p><a href="{{ url_for('news.index') }}" class="btn btn-outline-primary">Latest news</a></p>
    <p>Disclaimer: This website is not associated with UCSD in any official capacity.</p>
  </div>
</div>
<div class="container">
  <div class="row">
    {{
      macros.feature(
        'Lab',
        'Learn about the organizational styles of various labs, and about which
         ones are hiring new students. Examples of past rotation reports are
         also found here.',
        'Learn about labs',
        href=url_for('lab.index')
      )
    }}
    {{
      macros.feature(
        'Career',
        'Learn how to make the most of job hunting before and after defending your thesis.',
        'Learn about jobs',
        href=url_for('career.index')
      )
    }}
    {% block otherfeatures %}
    {{
      macros.feature(
        'More...',
        'See the rest of this site\'s features.',
        'See more',
        href=url_for('jumbotron.full')
      )
    }}
    {% endblock otherfeatures %}
  </div>
  <hr>
    {{
      macros.quote(
        'Current graduate students are the only reliable source of advice on
        how to succeed in graduate school.',
        'Tony'
      )
    }}
    {{
      macros.quote(
        'This site still needs a lot of work, but I think if even just a few of 
        us contribute some time to it then it has the potential to make a lot
        of things easier for most of us.',
        'Tony'
      )
    }}
</div> 
{% endblock content %}
