{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}GBIC{% endblock  title %}</h1>
{% endblock header %}

{% block content %}
<hr>
<p class="lead">Current GBIC officers:</p>
{% filter markdown %}
* **President: Daniela Nachmanson**. {{president['status']}}<br> **Contact:** {{president['email']}}<br>
  The goal of this office is to oversee the organization, run meetings, and
  ensure that organizational tasks are being completed in a timely manner.

* **Director of Internal Affairs: Michelle Franc Ragsac.** {{internal_affairs['status']}}<br> **Contact:** {{internal_affairs['email']}} <br> The goal of this
  office is promote GBIC representation on UCSD campus. Their duties include
  organizing the bioinformatics exchange (BEX), social gatherings, GSA
  representation, town hall meetings, and ‘tips and tricks’ presentations.

* **Director of External Affairs: Nancy Yuan.** {{external_affairs['status']}}<br> **Contact:** {{external_affairs['email']}} <br> The goal of this office is to
  promote GBIC representation outside of UCSD campus. Their duties include
  communicating with external organizations and acting as a liaison to the
  alumni.

* **Director of Outreach: Jennifer Havens.** {{outreach['status']}}<br> **Contact:** {{outreach['email']}} <br> The goal of this office is to
  promote GBIC participation in outreach programs with a specific goal of
  trying to improve diversity in our graduate program and in STEM in general.
  Their duties include working with outreach organizations in San Diego to
  facilitate BISB involvement, organize BISB outreach events, and planning
  BISB representative involvement in diversity-focused conferences.

* **Director of Development: Clarence Mah.** {{development['status']}}<br> **Contact:** {{development['email']}} <br> The goal of this office is to
  facilitate communication of GBIC with any and all bodies as well as to
  organize social events for BISB students.

* **Director of Student Wellness: Jonathan Pekar.** {{student_wellness['status']}}<br> **Contact:** {{student_wellness['email']}}

* **Director of Onboarding: Owen Chapman.** {{onboarding['status']}}<br> **Contact:** {{onboarding['email']}} <br> The goal of this office is to
  facilitate the transition into the PhD program. Their duties are concerned
  with incoming and first year students including: organizing recruitment events
  for interview weekend, overseeing a 1-week bootcamp before classes begin,
  appointing a first year representative, and facilitating peer mentorships and
  fellowship reviews. Preference for this position goes to Boot Camp
  instructors.

* **Director of Finance: Cynthia Wu.** {{finance['status']}}<br> **Contact:** {{finance['email']}}<br>
<span style="color: #ffffff">The booty manager!</span>
{% endfilter %}
<hr>
{% filter markdown %}
# Graduate Bioinformatics Council Constitution

## Article I: Name
The name of this organization shall be the Graduate Bioinformatics Council at
the University of California, San Diego (“UCSD”), herein called “GBIC.”

## Article II: Statement of Purpose
The objective of the GBIC shall be to represent and advance the career,
community, and outreach interests and objectives of the students of
Bioinformatics and Systems Biology (“BISB”) PhD programs. These programs
include the Bioinformatics & Systems Biology (BISB) and Biomedical Informatics
(“BMI”) doctoral tracks.

## Article III: Non-Profit Status
GBIC is a non-profit student organization.

## Article IV: Membership
Any person duly recognized as a graduate or professional student in the BISB
PhD programs at UCSD, shall be a full member of GBIC. Subject to applicable
qualifications, all members shall be eligible to hold office in the GBIC or any
of its subordinate organizations.

## Article V: Frequency of Meetings
There will be at least three general body meetings (GBMs) throughout the year,
one in each academic quarter. Within the organization, these meetings will be
known as “Journal Clubs”.

## Article VI: Qualifications for Holding Office
Any GBIC member can hold office. If someone graduates or leaves in the middle
of their term, they will work with the other officers to fill the position by
appointing another individual.

### Major Positions
The major positions of GBIC consist of eight (8) individuals: President,
Director of Internal Affairs, Director of External Affairs, Director of
Outreach, Director of Development, Director of Onboarding, Director of
Finance, Director of Student Wellness.

### Other Positions
Number of required individuals for a particular position other than President,
Director of Internal Affairs, Director of External Affairs, Director of
Outreach, Director of Development, Director of Onboarding, Director of Finance,
Director of Student Wellness, can be changed by the appropriate Director with
the consent of the President. Additional positions can be created at the
discretion of the appropriate Director, with the consent of the President.

### Executive Board
- President
  * The goal of this office is to oversee the organization, run meetings, and
    ensure that organizational tasks are being completed in a timely manner. In
    addition, their duties include acting as the organization’s Secretary (e.g.
    taking minutes during meetings), handling all official emails and forms,
    communicating with the BISB PhD program Webmaster to update online
    materials, and managing GBIC-related list serves. They may employ a
    subcommittee of members to accomplish these tasks, or delegate these duties
    to other Directors.
- Director of Internal Affairs
  * The goal of this office is to promote GBIC representation on the UCSD
    campus. Their duties include organizing the Bioinformatics Exchange (BEx)
    Welcome Retreat for students in the BISB PhD programs, representing GBIC at
    the Graduate Student Association (GSA) council meetings, planning
    program-wide town hall meetings, and hosting ‘tips and tricks’
    presentations for students. They may employ a subcommittee of members to
    accomplish these tasks.
- Director of External Affairs
  * The goal of this office is to promote GBIC representation outside of the
    UCSD campus. Their duties include helping organize the interdepartmental
    Thursday seminar speakers in collaboration with the UCSD Genetics Training
    Program and the UCSD Institute for Genomic Medicine (IGM), communicating
    with external organizations, and acting as a liaison to the alumni. They
    may employ a subcommittee of members to accomplish these tasks, in addition
    to the positions listed below.
  * Subcommittee
    + Seminar Speaker Chairs (2-3)
- Director of Outreach
  * The goal of this office is to promote GBIC participation in outreach
    programs with a specific goal of trying to improve diversity in our
    graduate program and in STEM in general. Their duties include working with
    outreach organizations in San Diego to facilitate BISB PhD program
    involvement, organizing outreach events for the BISB PhD program, and
    planning BISB PhD program representative involvement in diversity-focused
    initiatives. They may employ a subcommittee of members to accomplish these
    tasks.
- Director of Development
  * The goal of this office is to facilitate communication of GBIC with any and
    all bodies. Their duties include organizing social events for BISB
    students, such as the Journal Clubs and the annual Bioinformatics Exchange\
    (BEx) Welcome Retreat for BISB students. They may employ a subcommittee of
    members to accomplish these tasks.
- Director of Onboarding
  * The goal of this office is to facilitate the transition into the PhD
    program. Their duties are concerned with incoming and first year students
    including: organizing recruitment events for interview weekend, overseeing
    a 1-week bootcamp before classes begin, appointing a first year
    representative, and facilitating peer mentorships within the BISB PhD
    program and fellowship reviews. They may also employ a subcommittee of
    members to accomplish these tasks, in addition to the positions listed
    below.
  * Subcommittee
    + Bootcamp Chairs (2-3)
    + 1st Year Representative (1)
  * Preference for this position goes to “Boot Camp” instructors for the
    program.
- Director of Finance
  * The goal of this office is to act as a liaison with the fund manager for
    the BISB PhD program, as well as the other officers to oversee all
    financial activities of the organization, including reporting on revenue,
    working with the President to manage “Department Per Capita” (DPC) funding
    provided to the BISB department by the GSA, budgeting, disbursing funds to
    any of the Directors, implementing financial policies, and improving
    financial processes. They may employ a subcommittee of members to
    accomplish these tasks.
- Director of Student Wellness
  * The goal of this office is to oversee and monitor any wellbeing initiatives
    set forth by GBIC, as well as develop programs or organize events that
    create awareness, motivation, and provide tools to GBIC members that help
    them adapt and maintain a well-rounded healthy lifestyle as a graduate
    student in any of the BISB PhD programs. They may employ a subcommittee of
    members to accomplish these tasks.

### Eligibility
Any eligible member of the organization (see Article IV) can run for office.

### Voting
Elections will be held at the GBM of the Spring quarter and the first GBM of
the Fall quarter. Unfilled positions with elections in the Spring are filled in
the Fall elections. All present members of the meeting can cast a vote.

### Term Length
Most positions will start at the end of Spring quarter following elections and
end the following Spring quarter after elections. Students may hold as many
terms at a particular position as desired, but must be re-elected each year to
the position.

### Removal from Office
If a majority of individuals holding major positions believe that a particular
member in office is not fulfilling the duties of their positions, they can be
removed from their elected position and replaced by another eligible member
through the discretion of the other major position holders. Removal can only be
carried out if the individual is not accomplishing their duties. Differences in
opinion of how to carry out a position are not grounds for removal of office.

## Article VII: Risk Management
There are no anticipated risks related to medical, bodily injury, or exposure
to hazardous materials associated with participation in GBIC activities.

## Article VIII: Community Advisor
The Community Advisor shall be appointed by the GBIC officers, and will be
tasked with supervising the organization, as well as serving as a liaison
between the BISB PhD program administration and faculty and GBIC officers. The
advisor shall be a faculty or staff member affiliated with the BISB PhD
program, and will serve at the beginning of Fall quarter and end the following
Spring quarter after GBIC elections. The Community Advisor may hold as many
terms as desired, but must be re-appointed by the GBIC officers each year to
the position.
{% endfilter %}
{% endblock %}
