{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}GBIC{% endblock  title %}</h1>
{% endblock header %}

{% block content %}
<hr>
<p class="lead">Current GBIC officers:</p>
{% filter markdown %}
* **President: Daniela Nachmanson**.<br> **Contact:** dnachman@eng.ucsd.edu <br>
  The goal of this office is to oversee the organization, run meetings, and
  ensure that organizational tasks are being completed in a timely manner.

* **Director of Internal Affairs: Michelle Franc Ragsac.**<br> **Contact:** mragsac@eng.ucsd.edu <br> The goal of this
  office is promote GBIC representation on UCSD campus. Their duties include
  organizing the bioinformatics exchange (BEX), social gatherings, GSA
  representation, town hall meetings, and ‘tips and tricks’ presentations.

* **Director of External Affairs: Nancy Yuan.**<br> **Contact:** f5yuan@eng.ucsd.edu <br> The goal of this office is to
  promote GBIC representation outside of UCSD campus. Their duties include
  communicating with external organizations and acting as a liaison to the
  alumni.

* **Director of Outreach: Jennifer Havens.**<br> **Contact:** jhavens@eng.ucsd.edu <br> The goal of this office is to
  promote GBIC participation in outreach programs with a specific goal of
  trying to improve diversity in our graduate program and in STEM in general.
  Their duties include working with outreach organizations in San Diego to
  facilitate BISB involvement, organize BISB outreach events, and planning
  BISB representative involvement in diversity-focused conferences.

* **Director of Development: Clarence Mah.**<br> **Contact:** ckmah@ucsd.edu <br> The goal of this office is to
  facilitate communication of GBIC with any and all bodies as well as to
  organize social events for BISB students.

* **Director of Student Wellness: Jonathan Pekar.**<br> **Contact:** jepekar@eng.ucsd.edu

* **Director of Onboarding: Owen Chapman.**<br> **Contact:** ochapman@eng.ucsd.edu <br> The goal of this office is to
  facilitate the transition into the PhD program. Their duties are concerned
  with incoming and first year students including: organizing recruitment events
  for interview weekend, overseeing a 1-week bootcamp before classes begin,
  appointing a first year representative, and facilitating peer mentorships and
  fellowship reviews. Preference for this position goes to Boot Camp
  instructors.

* **Director of Finance: Cynthia Wu.**<br> **Contact:** <br><span style="color: #ffffff">The booty manager!</span>
{% endfilter %}
{% endblock %}
