{% extends 'base.html' %}
{% import 'macros.html' as macros %}

{% block header %}
<h1>{% block title %}BISB Rotation Databse{% endblock %}</h1>
{% endblock %}

{% block content %}
<hr>
<p class="lead">
  This is a demo page showing one of UCSD BISB Unofficial's features: the
  rotation database. This feature allows users to browse past rotation projects,
  view rotation reports, and contact students who have rotated in labs they
  may be interested in. This is currently the best way to find up-to-date
  information about what kind of research is being done in various labs.
</p>
<p>
  {{
    macros.quote(
      'This is definitely important. I know it has helped me to look at the
      reports that were up there many times already this year.',
      'Adam Klie, BISB student'
    )
  }}
</p>
<p class="lead">
  UCSD BISB Unofficial also includes information and advice on bioinformatics
  careers, California residency, TA'ing requirements, mental health, and more,
  along with annually-collected statistics about the BISB program.
</p>
{{ macros.demo_button(quarter, 'fall-2018', 'Fall 2018') }}
{{ macros.demo_button(quarter, 'winter-2019', 'Winter 2019') }}
{{ macros.demo_button(quarter, 'spring-2019', 'Spring 2019') }}
{{ macros.demo_button(quarter, 'fall-2019', 'Fall 2019') }}
{{ macros.demo_button(quarter, 'fall-2020', 'Fall 2020') }}
<hr>
{{ table|markdown(autolink=True, tables=True) }}
{% endblock %}
