{% extends 'base.html' %}
{% block title %}Log in{% endblock %}
{% block header %}{% endblock %}

{% block content %}
<div class='content-login'>
  <form class="form-login" method="post">
    {{ form.hidden_tag() }}
    {{
      form.username(
        id='username',
        class_='form-control',
        placeholder='Username',
        required=True,
        autofocus=True
      )
    }}
    {% for error in form.username.errors %}
    <span style='color: red;'>[{{ error }}]</span>
    {% endfor %}
    {{
      form.password(
        type='password',
        id='password',
        class_='form-control',
        placeholder='Password',
        required=True
      )
    }}
    {% for error in form.password.errors %}
    <span style='color: red;'>[{{ error }}]</span>
    {% endfor %}
    {{ form.submit(class_="btn btn-lg btn-outline-primary btn-block") }}
  </form>
</div>
{% endblock %}
