{% extends 'base.html' %}
{% from 'macros.html' import list_of_posts as list_of_posts %}

{% block header %}
<h1>{% block title %}Lab{% endblock %}</h1>
<a class="btn btn-outline-primary" href="{{ url_for('lab.create') }}">
  New post
</a>
{% endblock %}

{% block content %}
<hr>
<a class="btn btn-outline-primary" href="{{ url_for('lab.rotations') }}">BISB Rotation Database</a>
{{ list_of_posts(posts, current_user, 'lab.detail', 'lab.update') }}
{% if prev_url %}
<a class="btn btn-outline-primary" href="{{ prev_url }}">Newer posts</a>
{% endif %}
{% if next_url %}
<a class="btn btn-outline-primary" href="{{ next_url }}">Older posts</a>
{% endif %}
{% endblock %}
